smart home automation and weather monitoring using ibm cloud/noderedcode notificaton.txt
[{"id":"bfa1a5d3.4a6b98","type":"tab","label":"smart weather monitoring","disabled":false,"info":""},{"id":"6d140c5b.812514","type":"ibmiot in","z":"bfa1a5d3.4a6b98","authentication":"apiKey","apiKey":"1c6e8520.d974fb","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"0404","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":138,"y":218.00000190734863,"wires":[["aa6851bb.17053","e7350292.adbc6","7fc5bb7b.9f97d4"]]},{"id":"aa6851bb.17053","type":"debug","z":"bfa1a5d3.4a6b98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":220,"wires":[]},{"id":"e7350292.adbc6","type":"function","z":"bfa1a5d3.4a6b98","name":"temperature value passing","func":"global.set(\"T\",msg.payload.d.temperature)\nmsg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":320,"wires":[["c40c7a83.e4cde8","fb664661.c7bfa8"]]},{"id":"c40c7a83.e4cde8","type":"debug","z":"bfa1a5d3.4a6b98","name":"temparature value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":320,"wires":[]},{"id":"7fc5bb7b.9f97d4","type":"function","z":"bfa1a5d3.4a6b98","name":"humidity value passing","func":"global.set(\"H\",msg.payload.d.humidity)\nmsg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":440,"wires":[["396baf77.ddbb5","c7a2c1d8.4afa8"]]},{"id":"396baf77.ddbb5","type":"debug","z":"bfa1a5d3.4a6b98","name":"humidity value","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":440,"wires":[]},{"id":"fb664661.c7bfa8","type":"ui_gauge","z":"bfa1a5d3.4a6b98","name":"","group":"9091fc7a.9cc4a","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":674.8636436462402,"y":378.2727336883545,"wires":[]},{"id":"c7a2c1d8.4afa8","type":"ui_gauge","z":"bfa1a5d3.4a6b98","name":"","group":"834d35b5.486a28","order":0,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":668.8636474609375,"y":497.00001525878906,"wires":[]},{"id":"10db29ca.ddc796","type":"http in","z":"bfa1a5d3.4a6b98","name":"weather requesting","url":"/weatherdata","method":"get","upload":false,"swaggerDoc":"","x":255.86363983154297,"y":549.1818237304688,"wires":[["81fdfb5.cd02f08"]]},{"id":"1c666bad.2e4824","type":"http response","z":"bfa1a5d3.4a6b98","name":"weather response","statusCode":"","headers":{},"x":566.8636474609375,"y":575.8181915283203,"wires":[]},{"id":"81fdfb5.cd02f08","type":"function","z":"bfa1a5d3.4a6b98","name":"weather response function","func":"msg.payload={\"temperature\":global.get(\"T\"),\"humidity\":global.get(\"H\")}\nreturn msg;","outputs":1,"noerr":0,"x":460.5,"y":633.5454864501953,"wires":[["1c666bad.2e4824"]]},{"id":"2032567b.7b051a","type":"watson-conversation-v1","z":"bfa1a5d3.4a6b98","name":"","workspaceid":"b44d2541-438e-4e9f-b690-d17c83d68c2c","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":310.10000228881836,"y":810.2000246047974,"wires":[["b3fa0793.15f0b8"]]},{"id":"b125161c.97ee38","type":"inject","z":"bfa1a5d3.4a6b98","name":"","topic":"","payload":"what is the climatic condition","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155.10000228881836,"y":731.6000232696533,"wires":[["2032567b.7b051a"]]},{"id":"4f409422.5b955c","type":"debug","z":"bfa1a5d3.4a6b98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":661.1000595092773,"y":830.6000728607178,"wires":[]},{"id":"b3fa0793.15f0b8","type":"function","z":"bfa1a5d3.4a6b98","name":"json passing for bot response","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":355.1000061035156,"y":896.4000253677368,"wires":[["4f409422.5b955c","4917da76.511254"]]},{"id":"4917da76.511254","type":"switch","z":"bfa1a5d3.4a6b98","name":"bot response switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"climate","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":244.50000762939453,"y":1071.7999649047852,"wires":[["edc6e9b6.d27ab8"],["c180c654.7a0958"],["566a9ae8.fb2294"],["576e37b6.2fb908","63517c4d.04c984"]]},{"id":"edc6e9b6.d27ab8","type":"function","z":"bfa1a5d3.4a6b98","name":"temperature","func":"msg.payload=\"todays temperature is\"+global.get(\"T\")\nreturn msg;","outputs":1,"noerr":0,"x":666.5000076293945,"y":974.200026512146,"wires":[["576e37b6.2fb908","63517c4d.04c984"]]},{"id":"c180c654.7a0958","type":"function","z":"bfa1a5d3.4a6b98","name":"humidity","func":"msg.payload=\"todays humidity is\"+global.get(\"H\")\nreturn msg;","outputs":1,"noerr":0,"x":611.5000076293945,"y":1016.1999664306641,"wires":[["576e37b6.2fb908","63517c4d.04c984"]]},{"id":"566a9ae8.fb2294","type":"function","z":"bfa1a5d3.4a6b98","name":"climate","func":"msg.payload=\"todays temperature and humidity are\"+global.get(\"T\")+\",\"+global.get(\"H\")\nreturn msg;","outputs":1,"noerr":0,"x":560.5000076293945,"y":1062.199966430664,"wires":[["576e37b6.2fb908","63517c4d.04c984"]]},{"id":"576e37b6.2fb908","type":"debug","z":"bfa1a5d3.4a6b98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1098.1000900268555,"y":1127.199956893921,"wires":[]},{"id":"c7791f5f.9195b","type":"debug","z":"bfa1a5d3.4a6b98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":643.1000366210938,"y":1351.7999877929688,"wires":[]},{"id":"affc788d.8f2348","type":"ui_text","z":"bfa1a5d3.4a6b98","group":"75e52a35.d68e94","order":2,"width":0,"height":0,"name":"","label":"weather chatbot","format":"{{msg.payload}}","layout":"row-left","x":698.1666717529297,"y":1669.5555267333984,"wires":[]},{"id":"5eb542f3.29609c","type":"ui_form","z":"bfa1a5d3.4a6b98","name":"","label":"","group":"75e52a35.d68e94","order":1,"width":0,"height":0,"options":[{"label":"user input","value":"user_input","type":"text","required":true}],"formValue":{"user_input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":341.1666717529297,"y":1403.5555248260498,"wires":[["e8e4a4c6.c97cb8"]]},{"id":"e8e4a4c6.c97cb8","type":"function","z":"bfa1a5d3.4a6b98","name":"form output for json passing","func":"msg.payload=msg.payload.user_input\nreturn msg;","outputs":1,"noerr":0,"x":471.16668701171875,"y":1530.9999694824219,"wires":[["affc788d.8f2348","c7791f5f.9195b","2032567b.7b051a"]]},{"id":"63517c4d.04c984","type":"ui_text","z":"bfa1a5d3.4a6b98","group":"75e52a35.d68e94","order":3,"width":0,"height":0,"name":"","label":"bot output","format":"{{msg.payload}}","layout":"row-left","x":1070.1001510620117,"y":1284.8000240325928,"wires":[]},{"id":"1c6e8520.d974fb","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"dooo8z.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"9091fc7a.9cc4a","type":"ui_group","z":"","name":"temperature","tab":"52ad6984.687f88","disp":true,"width":"8","collapse":false},{"id":"834d35b5.486a28","type":"ui_group","z":"","name":"humidity","tab":"52ad6984.687f88","disp":true,"width":"8","collapse":false},{"id":"75e52a35.d68e94","type":"ui_group","z":"","name":"Default","tab":"b284e1c8.d02b8","disp":false,"width":"14","collapse":false},{"id":"52ad6984.687f88","type":"ui_tab","z":"","name":"mlrit weather monitoring","icon":"dashboard","disabled":false,"hidden":false},{"id":"b284e1c8.d02b8","type":"ui_tab","z":"","name":"weather chatbot","icon":"dashboard","disabled":false,"hidden":false}]