smart home automation and weather monitoring using ibm cloud/nodredcode.txt
[{"id":"64d941be.678c5","type":"tab","label":"smart home automation","disabled":false,"info":""},{"id":"cb2632fd.7e882","type":"ui_button","z":"64d941be.678c5","name":"","group":"78071ee6.a1e61","order":1,"width":0,"height":0,"passthru":true,"label":"light on button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LIGHTON","payloadType":"str","topic":"","x":276.1666564941406,"y":69,"wires":[["b1868c6c.faf0a","bc8c043c.471578"]]},{"id":"7bb8f423.889c9c","type":"ui_button","z":"64d941be.678c5","name":"","group":"78071ee6.a1e61","order":2,"width":0,"height":0,"passthru":true,"label":"light off button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LIGHTOFF","payloadType":"str","topic":"","x":277.1666717529297,"y":189,"wires":[["b1868c6c.faf0a","bc8c043c.471578"]]},{"id":"b1868c6c.faf0a","type":"debug","z":"64d941be.678c5","name":"button output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":627.1666717529297,"y":69.44444465637207,"wires":[]},{"id":"bc8c043c.471578","type":"ibmiot out","z":"64d941be.678c5","authentication":"apiKey","apiKey":"1c6e8520.d974fb","outputType":"cmd","deviceId":"0404","deviceType":"nodemcu","eventCommandType":"home","format":"String","data":"ok","qos":0,"name":"IBM IoT","service":"registered","x":672.5000076293945,"y":194.1111125946045,"wires":[]},{"id":"54b7f8de.8fdf08","type":"http in","z":"64d941be.678c5","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":132.5,"y":381.55558586120605,"wires":[["da467529.72b538"]]},{"id":"388ae0ca.53f26","type":"http response","z":"64d941be.678c5","name":"","statusCode":"","headers":{},"x":747.5,"y":405.1111145019531,"wires":[]},{"id":"1bc0d9ad.1a2a36","type":"debug","z":"64d941be.678c5","name":"http request output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":628.1666870117188,"y":453.1111145019531,"wires":[]},{"id":"da467529.72b538","type":"function","z":"64d941be.678c5","name":"http response after json passing","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":417.1666564941406,"y":315,"wires":[["388ae0ca.53f26","1bc0d9ad.1a2a36","bc8c043c.471578"]]},{"id":"1d1114ab.89849b","type":"ibmiot in","z":"64d941be.678c5","authentication":"apiKey","apiKey":"1c6e8520.d974fb","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"0404","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":176.16665267944336,"y":788.2221946716309,"wires":[["65f0c888.d94b98","ec5fe7c8.4fd038","a60eba5f.9d9528"]]},{"id":"65f0c888.d94b98","type":"debug","z":"64d941be.678c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":673.1666717529297,"y":787.7778587341309,"wires":[]},{"id":"ec5fe7c8.4fd038","type":"function","z":"64d941be.678c5","name":"temparature passing","func":"global.set(\"T\",msg.payload.d.temperature)\nmsg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":292.1666564941406,"y":884.8888854980469,"wires":[["5a6252c4.820b4c","8f1f4b20.6664a8"]]},{"id":"a60eba5f.9d9528","type":"function","z":"64d941be.678c5","name":"humidity passing","func":"global.set(\"H\",msg.payload.d.humidity)\nmsg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":320.1666564941406,"y":957.888916015625,"wires":[["80f97a0.d6ba888","48b8dc2b.197484"]]},{"id":"9d82c3b0.09f3b","type":"function","z":"64d941be.678c5","name":"temp and humid","func":"msg.payload={\"temperature\":global.get(\"T\"),\"humidity\":global.get(\"H\")}\nreturn msg;","outputs":1,"noerr":0,"x":589.1666717529297,"y":1198.6666889190674,"wires":[["5d760370.79f7bc"]]},{"id":"5a6252c4.820b4c","type":"debug","z":"64d941be.678c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":704.1666717529297,"y":878.1111307144165,"wires":[]},{"id":"80f97a0.d6ba888","type":"debug","z":"64d941be.678c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700.1666717529297,"y":979.1111316680908,"wires":[]},{"id":"e2925762.1ce3b8","type":"http in","z":"64d941be.678c5","name":"weather requesting","url":"/weather","method":"get","upload":false,"swaggerDoc":"","x":316.1666564941406,"y":1136.5555419921875,"wires":[["9d82c3b0.09f3b"]]},{"id":"5d760370.79f7bc","type":"http response","z":"64d941be.678c5","name":"weather response","statusCode":"","headers":{},"x":883.1666870117188,"y":1114.1111145019531,"wires":[]},{"id":"48b8dc2b.197484","type":"ui_gauge","z":"64d941be.678c5","name":"","group":"78071ee6.a1e61","order":3,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":564,"y":833,"wires":[]},{"id":"8f1f4b20.6664a8","type":"ui_gauge","z":"64d941be.678c5","name":"","group":"78071ee6.a1e61","order":2,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":736,"wires":[]},{"id":"78071ee6.a1e61","type":"ui_group","z":"","name":"kitchen","tab":"98ad56c5.3d8798","disp":true,"width":"8","collapse":false},{"id":"1c6e8520.d974fb","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"dooo8z.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"98ad56c5.3d8798","type":"ui_tab","z":"","name":"home automation","icon":"dashboard","disabled":false,"hidden":false}]